<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" type="text/css" href="../../public/third-party/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../public/third-party/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
    </head>
    
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">DevTeam</a>
                </div>
                <div class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav">
                        <li> <a href="/">Home</a></li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            {{{body}}}
        </div>           
        
        <script src="../../public/third-party/jquery/jquery-1.12.0.min.js"></script>
        <script src="../../public/third-party/bootstrap/js/bootstrap.min.js"></script>
        <!--<script src="../../public/third-party/angularjs/angular.min.js"></script> -->
    </body>
    
    <footer>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p>&copy; Copyright 2016 Patrick.inc all right reserved</p>
                </div>
            </div>
        </div>
    </footer>
</html>