<div class="jumbotron">
    <h1>Home page</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla tristique viverra. Fusce accumsan felis sit amet nunc lacinia,
        at imperdiet ex interdum. In varius auctor dictum. Nulla rhoncus semper dui eget rutrum. In a viverra ligula. Proin vitae varius felis.
        Nunc nunc urna, mollis ut mollis ac, pellentesque eu dui. Vestibulum dignissim nunc facilisis congue suscipit         
    </p>
    <button type="button" class="btn btn-primary">Learn more</button>
</div>
