<div class="container jumbotron">
    <div class="col-md-4">
        <img class = "newappIcon" src="../public/images/newapp-icon.png">
    </div>
    
    <div class="col-md-8">
        <h1>DevTeam</h1>
            <p>
            Thanks for visiting our website. we are currently  working hard to provide  more features  that will be available soon. 
        </p>
    </div>            
</div>
